/*
    Contains CSS for the 'about' section in index.html
*/

.section-5050 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.section-5050 .left,
.section-5050 .right {
    flex: 1 1 50%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-5050 .left {
    background-color: var(--lavender);
    color: var(--lapis-lazuli);
}

.section-5050 .right {
    background-color: var(--cambridge-blue);
    color: var(--lapis-lazuli);
}