/*
    Contains css for the canvas.html project
*/

main {
  padding: 40px;
  text-align: center;
}

canvas {
  display: block;
  margin: 40px auto;
  background-color: #ffffff;
  border: 2px solid var(--lapis-lazuli);
}