:root {
  --lavender:       #EEEFFF;
  --cool-gray:      #7F7CAF;
  --powder-blue:    #9FB4C7;
  --lapis-lazuli:   #28587B;
  --cambridge-blue: #9FB798;
  --light-text:     #e0e0e0;
  --dark-bg:        #0F1117;
  --hover-accent:   #00FFE1;
}

body {
    background-color: var(--dark-bg);
    color: var(--lapis-lazuli);
}

.section-5050 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20vh;
}

.section-5050 .left,
.section-5050 .right {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 40px;
}

.section-5050 .left {
    background-color: var(--lavender);
    color: var(--lapis-lazuli);
}

.section-5050 .right {
    background-color: var(--cambridge-blue);
    color: var(--lapis-lazuli);
}

@media (max-width: 768px) {
    .section-5050 .left,
    .section-5050 .right {
        flex: 1 1 100%;
    }
}



.navbar {
    background-color: var(--powder-blue);
    color: var(--lapis-lazuli);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    color: var(--lapis-lazuli)
}

.job-title {
    font-size: 2em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--light-text);
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.5s ease;
}

.nav-links a:hover {
    color: var(--lapis-lazuli);
}



footer {
    background-color: var(--lapis-lazuli);
    color: var(--light-text);

    display: flex;
    min-height: 10vh;
    text-align: center;
    padding: 30px 20px;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}

.footer-links a{
    color: var(--light-text);
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3 ease;
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--cambridge-blue);
}