body {
    background-color: rgb(15, 17, 23);
}

.section-5050 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20vh;
}

.section-5050 .left,
.section-5050 .right {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 40px;
}

.section-5050 .left {
    background-color: rgb(0, 255, 225);
}

.section-5050 .right {
    background-color: #d0eaff;
}

@media (max-width: 768px) {
    .section-5050 .left,
    .section-5050 .right {
        flex: 1 1 100%;
    }
}